<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    {% for message in messages%}
    <div class="alert alter-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" 
        aria-label="close"></button>
        <span aria-hidden="true">&times;</span>
    </div>
    {%endfor %}


    <h3>Sign In</h3>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your name">
        <br>
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password">
<br>
        
       <button type="submit">Sign up</button>
    </form>
</body>
</html>